<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<table border="1">
    <tr>
        <th>NOME</th>
        <th>EMAIL</th>
        <th>IDADE</th>
        <th>EDITAR</th>
        <th>APAGAR</th>
    </tr>
    <% dados.forEach(function (aluno){ %>
    <tr>
        <td><%- aluno.nome %></td>
        <td><%- aluno.email %></td>
        <td><%- aluno.idade %></td>
        <td><a href="/busca-aluno?id=<%= aluno._id %>">EDITAR</a></td>
        <td><a href="/apagar-aluno-bd?id=<%= aluno._id %>">APAGAR</a></td>
    </tr>
   <% }) %>
</table>
</body>
</html>